html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: teal;
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(7, 1fr);
}

.box {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.box-standard {
    background-color: rgb(0, 165, 165);
}

.box-fizz {
    background-color: aquamarine;
}

.box-buzz {
    background-color: goldenrod;
}

.box-fizz-buzz {
    background-color: crimson;
}